@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* --font-questrial: "Questrial", sans-serif; */
  --font-roboto: "Roboto", sans-serif;

  --toastify-color-dark: #686868;
  --toastify-color-success: #30b94d;
  --toastify-color-error: #e90516;
}

@theme inline {
  /* --font-sans: var(--font-questrial); */
  --font-sans: var(--font-roboto);
  --breakpoint-xs: 375px;
  --breakpoint-s: 425px;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-grey-dark: #1f1f1f;
  --color-grey: #262626;
  --color-grey-form: #686868;
  --color-grey-light: #e3e3e380;
  --color-grey-border: #3e3e3e;
  --color-milk-white: #f9f9f9;
  --color-white-transp: #f9f9f933;
  --color-red: #e90516;
  --color-red-border: #e85050;
  --color-green: #30b94d;
  --text-xxl: 32px;
  --text-xxl--font-weight: bold;
  --text-xxl--line-height: 32px;
  --text-xl: 20px;
  --text-xl--font-weight: bold;
  --text-xl--line-height: 20px;
  --text-large: 14px;
  --text-large--font-weight: bold;
  --text-large--line-height: 18px;
  --text-large-letter-spacing: 2%;
  --text-small: 12px;
  --text-small--font-weight: medium;
  --text-small--line-height: 16px;
  --text-light: 10px;
  --text-light--font-weight: medium;
  --text-light--line-height: 12px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: var(--font-questrial); */
  font-family: var(--font-roboto);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #262626 inset !important;
  -webkit-text-fill-color: white !important;
  -webkit-animation: none;

  transition: background-color 5000s ease-in-out 0s;
  overflow: hidden !important;
  border-radius: 12px !important;
}
